body{
    background-color:hsl(212, 45%, 89%) ;
}
.container{
    background-color: hsl(0, 0%, 100%);
    border-radius: 18px;
    position: fixed;
    height: 500px;
    width: 335px;
    transform: translate(-50%, -50%);
    top:50%;
    left:50%;
}
.qr-code{
    border-radius: 10px;
    height: 300px;
    width: 300px;
    top: 0.8em;
    left: 1.1em;
    position:absolute;
}
.title, .description{
    font-family:"Outfit", sans-serif;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
}
.title{
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    padding-top:310px;
}
.description{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}
.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

